<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- iCloud: required for CloudKit access -->
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.net.phfactor.cpdb</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.net.phfactor.cpdb</string>
	</array>
	
	<!-- Push Notifications: required for CloudKit silent-push subscriptions -->
	<key>aps-environment</key>
	<string>development</string>
	
	<!-- App Groups: optional, but useful if you plan to share data between iOS app extensions -->
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.net.phfactor.cpdb</string>
	</array>
	
	<!-- Keychain Access: for secure credential storage -->
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)net.phfactor.cpdb.ios</string>
	</array>
</dict>
</plist>
